<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Warn"
      internalLogFile="${tempdir}/Apps/Logs/ConsoleApp/nlog-internal.log">

  <extensions>
    <add assembly="NLog.Targets.Seq"/>
  </extensions>

  <variable name="logDirectory" value="${tempdir:dir=Apps/Logs/ConsoleApp}"/>

  <targets>

    <target name="console" xsi:type="ColoredConsole"
            layout="${time}|${pad:padding=-5:inner=${level:uppercase=true}}|${message}">
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Blue" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <target name="jsonFile" xsi:type="File"
            fileName="${logDirectory}/logs.json"
            archiveFileName="${logDirectory}/logs.{##}.json"
            archiveNumbering="Rolling"
            archiveAboveSize="500000"
            maxArchiveFiles="10">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate:universalTime=true}"/>
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="threadId" layout="${threadid}"/>
        <attribute name="logger" layout="${logger}"/>
        <attribute name="message" layout="${message}"/>
        <attribute name="exception" layout="${exception:format=@}" encode="false"/>
        <attribute name="eventProperties" encode="false">
          <layout type="JsonLayout" includeAllProperties="true" maxRecursionLimit="2" renderEmptyObject="false"/>
        </attribute>
      </layout>
    </target>

    <target name="seq" xsi:type="Seq" serverUrl="http://localhost:5341" apiKey="">
      <property name="ThreadId" value="${threadid}" as="number"/>
      <property name="Logger" value="${logger}"/>
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console, jsonFile, seq"/>
  </rules>

</nlog>